@()(implicit l: Lang, account: Option[Account])

@template.template(models.TemplateInfo("activated", Messages("page.activated.title"))) {
<div class="row-fluid">
    <div class="span9">
        <div class="page-header">
            <h2>@Messages("page.activated.title")</h2>
        </div>
        <div>
            @Html(Messages("page.activated.info"))
        </div>
        <div>
            <a href="@routes.LoginController.login">@Messages("link.login")</a>
        </div>
    </div>
    <div class="span3">
        @sides.loginFormPanel()
    </div>
</div>
}
